BPBzadanie1/Service References/ServiceReference1/PPB1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ICPen2.DataModels.Commons" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ICPen2.DataModels.Commons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Point" nillable="true" type="tns:Point" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoint" nillable="true" type="tns:ArrayOfPoint" />
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element name="_x003C_Delta_x003E_k__BackingField" type="xs:int" />
      <xs:element name="force" type="xs:unsignedByte" />
      <xs:element name="x" type="xs:float" />
      <xs:element name="y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
</xs:schema>