BPBzadanie1/Service References/ServiceReference1/PPB3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://185.5.99.165/PPB/PPB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ICPen2.DataModels.RegionsWithStrokes" />
  <xs:element name="GetSignatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printInfoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ICPen2.DataModels.RegionsWithStrokes" minOccurs="0" name="GetSignaturesResult" nillable="true" type="q1:RegionsWithStrokesObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>